packages/
AnnotationProject.v11.suo
AnnotationProject/bin/
AnnotationProject/obj/
AnnotationProject/Scripts/linq.js_ver2.2.0.2/bindings/
AnnotationProject/Scripts/linq.js_ver2.2.0.2/sample/
AnnotationProject/Scripts/linq.js_ver2.2.0.2/snippets/
AnnotationProject/Scripts/linq.js_ver2.2.0.2/test/
AnnotationProject/Scripts/linq.js_ver2.2.0.2/ReadMe.txt
