<link href="~/Content/bootstrap.css" rel="stylesheet" />

<html ng-app>
<body>
    <div ng-controller="HomePageCtrl">
        <div class="row">
            <div class="col-md-6">
                <h3>Text Search</h3>
                <div>
                    <table>
                        <tr>
                            <td>Title:</td>
                            <td><input type="text" ng-model="searchQuery" /></td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td><input type="text" ng-model="tagQuery" /></td>
                        </tr>
                    </table>
                    
                    <button type="button" data-loading-text="Loading..." class="btn btn-primary" style="margin: 20px" ng-click="search()">
                        Search
                    </button>
                </div>
            </div>


        </div>
        @*<div class="row">
            <hr style="border-top: 1px solid black" />
        </div>*@
        <div class="row">
            <div class="col-md-12">
                (click the title)
                <h3>Results</h3>
                <table>
                    <tr ng-show="results.length > 0">
                        <th>Title</th>
                        <th>Author</th>
                        <th>Tags</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="result in results">
                        <td style="width: 25%" dir="auto"><a href="~/TextView/Index?textID={{result.ID}}">{{result.Title}}</a></td>
                        <td style="width: 20%">{{result.Author}}</td>
                        <td style="width: 20%">{{result.Tags}}</td>
                        <td style="width: 35%" dir="auto">{{result.Snippet}}...</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Recent Annotations:</h3>
                <table>
                    <tr>
                        <th style="width:15%;min-width:15%">
                            Time
                        </th>
                        <th style="width:15%;min-width:150px;">
                            Base Text
                        </th>
                        <th style="width:25%;min-width:200px">
                            Anchor
                        </th>
                        <th >
                            Annotation
                        </th>

                    </tr>
                    <tr ng-repeat="ann in recentAnnotations">
                        <td>
                            {{ann.DateString}}
                        </td>
                        <td>
                            <a href="~/TextView/Index?textID={{ann.BaseTextID}}">{{ann.BaseTextTitle}}</a>
                        </td>
                        <td>
                            {{ann.TextAnchor}}
                        </td>
                        <td>
                            {{ann.PreviewText}}
                            <span ng-if="ann.PreviewText.length != ann.Content.length">...</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/HomePageController.js"></script>
