<link href="~/Content/bootstrap.css" rel="stylesheet" />
<html ng-app>
<body>
    <div ng-controller="HomePageCtrl" ng-cloak>
        <div class="row">
            <h3 class="col-md-2">Text Search</h3>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <table>
                        <tr>
                            <td>Title:</td>
                            <td>
                                <input type="text" ng-model="searchQuery" /></td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td>
                                <input type="text" ng-model="tagQuery" /></td>
                        </tr>
                        <tr>
                            <td>Author:</td>
                            <td>
                                <input type="text" ng-model="authorQuery" /></td>
                            <td>
                                <button type="button" data-loading-text="Loading..." class="btn btn-primary" ng-click="search()">
                                    Search
                                </button>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Results:</h3>
                <table>
                    <tr ng-show="results.length > 0">
                        <th>Title</th>
                        <th>Author</th>
                        <th>Annotations</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="result in results">
                        <td style="width: 25%"><a href="~/TextView/Index?textID={{result.ID}}">{{result.Title}}</a></td>
                        <td style="width: 20%">{{result.Author}}</td>
                        <td style="width: 20%">{{result.AnnotationCount}}</td>
                        <td style="width: 35%" dir="auto">{{result.Snippet}}...</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Recent Annotations:</h3>
                <div ng-repeat="ann in recentAnnotations">
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                            <a href="~/TextView/Index?textID={{ann.BaseTextID}}">{{ann.BaseTextTitle}}</a>
                        </div>
                        <div class="col-md-3 col-xs-3">
                             <a style="color:black" href="~/TextView/Index?textID={{ann.BaseTextID}}&annotationID={{ann.AnnotationID}}">"{{ann.TextAnchor}}"</a>
                        </div>

                        <div class="col-md-7 col-xs-7">{{ann.PreviewText}}<span ng-if="ann.PreviewText.length != ann.Content.length">...</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <p>{{ann.DateString}}</p>
                        </div>
                        <div class="col-md-4 col-xs-4" style="font-size: 15px">
                            <a href="~/User/Index?user={{ann.Username}}"
                                style="color: #428bca;">{{ann.Username}}</a>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/HomePageController.js"></script>
