
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Groups";
}

<h3>Groups</h3>
<hr />
<p>Coming soon...</p>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
