@model AnnotationProject.Models.RegisterLoginModel
<link href="~/Content/bootstrap.css" rel="stylesheet" />


@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>

<div style="margin: 10px;">Have an account on one of these sites? Click the logo to log in with it here:</div>
<div style="margin: 10px;">

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery-1.9.1.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
}

