<link href="~/Content/bootstrap.css" rel="stylesheet" />


@{
    ViewBag.Title = "Upload";
}

<html ng-app>
<body>
    <div ng-controller="UploadTextCtrl" ng-cloak>
        <h3>Upload</h3>
        <hr />
        <div class="col-md-6">
            <table>
                <tr>
                    <td><b>Author:</b></td>
                    <td>
                        <input type="text" ng-model="author" />
                    </td>
                </tr>
                <tr>
                    <td><b>Title:</b></td>
                    <td>
                        <input type="text" ng-model="title" />
                    </td>
                </tr>
                <tr>
                    <td><b>Content:</b></td>
                    <td>
                        <textarea ng-model="text" style="width: 100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><b>Source:</b></td>
                    <td>
                        <input ng-model="source" />
                    </td>
                </tr>
                <tr>
                    <td><b>Tags:</b></td>
                    <td>
                        <input type="text" ng-model="tags" />
                    </td>
                    <td>
                        <button type="button" data-loading-text="Loading..." class="btn btn-default"  ng-click="upload()">
                            Upload
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/UploadTextController.js"></script>
