<link href="~/Content/bootstrap.css" rel="stylesheet" />


@{
    ViewBag.Title = "Upload";
}

<html ng-app>
<body>
    <div ng-controller="HomePageCtrl" ng-cloak>
        <h3>Upload</h3>

        <div class="col-md-6">
            <table>
                <tr>
                    <td>Author:</td>
                    <td>
                        <input type="text" ng-model="author" />
                    </td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>
                        <input type="text" ng-model="title" />
                    </td>
                </tr>
                <tr>
                    <td>Content:</td>
                    <td>
                        <textarea ng-model="text" style="width: 100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Tags:</td>
                    <td>
                        <input type="text" ng-model="tags" />
                    </td>
                </tr>
            </table>
            <button type="button" data-loading-text="Loading..." class="btn btn-primary" style="margin: 20px" ng-click="upload()">
                Upload
            </button>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/UploadTextController.js"></script>
