<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = @User.Identity.Name + " Profile";
}


<html ng-app>
<body>
    <div ng-controller="UserCtrl" ng-cloak>
        <h4><b><a href="@Request.Url.PathAndQuery">User: {{Username}}</a></b></h4>

        <h3>Text Uploads</h3>
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <b>Title</b>
            </div>
            <div class="col-md-2 col-xs-2">
                <b>Author</b>
            </div>

            <div class="col-md-1 col-xs-1">
                <b>Annotations</b>
            </div>
        </div>

        <hr />

        <div ng-repeat="text in texts">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <i><b><a href="~/TextView/Index?textID={{text.ID}}">{{text.Title}}</a></b></i>
                    <br />
                    <div>
                        {{text.Timestamp}}
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <p><a href="~/?author={{text.Author}}">{{text.Author}}</a></p>
                </div>
                <div class="col-md-1 col-xs-1">{{text.AnnotationCount}}</div>
                <div class="col-md-5 col-xs-5">{{text.Snippet}}<span ng-if="ann.PreviewText.length != ann.Content.length">...</span></div>
            </div>
            <hr />
        </div>

        <h3>Annotations</h3>
        <hr />
        <div ng-repeat="ann in annotations">
            <div class="row">
                <div class="col-md-3 col-xs-3" ng-if="ann.BaseTextTitle != undefined">
                    <i><b><a href="~/TextView/Index?textID={{ann.BaseTextID}}">{{ann.BaseTextTitle}}</a></b></i>
                </div>
                <div class="col-md-3 col-xs-3" ng-if="ann.BaseTextTitle == undefined">
                    <a href="~/TextView/Index?textID={{ann.BaseTextID}}">textID:{{ann.BaseTextID}}</a>
                </div>
                <div class="col-md-9 col-xs-9">
                    <a href="~/TextView/Index?textID={{ann.BaseTextID}}&annotationID={{ann.AnnotationID}}">{{ann.PreviewText}}<span ng-if="ann.PreviewText.length != ann.Content.length">...</span>
                    </a>
                    <br />
                    {{ann.DateString}} - 
                <a ng-show="ann.Username.length > 0" href="~/User/Index?user={{ann.Username}}"
                    style="color: #428bca;">{{ann.Username}}</a>
                </div>
            </div>
            <hr />
        </div>


        <h3>Favorites</h3>
        <hr />
                <div ng-repeat="ann in favorites">
            <div class="row">
                <div class="col-md-3 col-xs-3" ng-if="ann.BaseTextTitle != undefined">
                    <i><b><a href="~/TextView/Index?textID={{ann.BaseTextID}}">{{ann.BaseTextTitle}}</a></b></i>
                </div>
                <div class="col-md-3 col-xs-3" ng-if="ann.BaseTextTitle == undefined">
                    <a href="~/TextView/Index?textID={{ann.BaseTextID}}">textID:{{ann.BaseTextID}}</a>
                </div>
                <div class="col-md-9 col-xs-9">
                    <a href="~/TextView/Index?textID={{ann.BaseTextID}}&annotationID={{ann.AnnotationID}}">{{ann.PreviewText}}<span ng-if="ann.PreviewText.length != ann.Content.length">...</span>
                    </a>
                    <br />
                    {{ann.DateString}} - 
                <a ng-show="ann.Username.length > 0" href="~/User/Index?user={{ann.Username}}"
                    style="color: #428bca;">{{ann.Username}}</a>
                </div>
            </div>
            <hr />
        </div>

        <div id="loading-indicator" ng-show="busy">
            <img src="~/Images/ajax-loader.gif" />
        </div>
        <a href="~/Account/Manage" style="color: #428bca;">Change your password</a>

    </div>
</body>
</html>


<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/UserController.js"></script>
