<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}


<html ng-app>
<body>
    <div ng-controller="UserCtrl" ng-cloak>
        <h4><b><a href="@Request.Url.PathAndQuery">User: {{Username}}</a></b></h4>

        <hr />
        <h3>Text Uploads:</h3>
        <table>
            <tr ng-show="texts.length > 0">
                <th>Title</th>
                <th>Author</th>
                <th>Tags</th>
                <th></th>
            </tr>
            <tr ng-repeat="result in texts">
                <td style="width: 25%"><a href="~/TextView/Index?textID={{result.ID}}">{{result.Title}}</a></td>
                <td style="width: 20%">{{result.Author}}</td>
                <td style="width: 20%">{{result.Tags}}</td>
                <td style="width: 35%" dir="auto">{{result.Snippet}}...</td>
            </tr>
        </table>

        <h3>Annotations:</h3>
        <div ng-repeat="ann in annotations">
            <div class="row">
                <div class="col-md-2 ">
                    <a href="~/TextView/Index?textID={{ann.BaseTextID}}">{{ann.BaseTextTitle}}</a>
                </div>
                <div class="col-md-3">{{ann.TextAnchor}}</div>
                <div class="col-md-7">{{ann.PreviewText}}<span ng-if="ann.PreviewText.length != ann.Content.length">...</span></div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <p>{{ann.DateString}}</p>
                </div>
                <div class="col-md-4" style="font-size: 15px">
                    <a href="~/User/Index?user={{ann.Username}}"
                        style="color: #428bca;">{{ann.Username}}</a>
                </div>
            </div>
            <hr />
        </div>

        <h3>Favorites:</h3>
        <div ng-repeat="ann in favorites">
            <div class="row">
                <div class="col-md-2 ">
                    <a href="~/TextView/Index?textID={{ann.BaseTextID}}">{{ann.BaseTextTitle}}</a>
                </div>
                <div class="col-md-3">{{ann.TextAnchor}}</div>
                <div class="col-md-7">{{ann.PreviewText}}<span ng-if="ann.PreviewText.length != ann.Content.length">...</span></div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <p>{{ann.DateString}}</p>
                </div>
                <div class="col-md-4" style="font-size: 15px">
                    <a href="~/User/Index?user={{ann.Username}}"
                        style="color: #428bca;">{{ann.Username}}</a>
                </div>
            </div>
            <hr />
        </div>
        <a href="~/Account/Manage" style="color:#428bca;">Change your password</a>

    </div>
</body>
</html>


<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/UserController.js"></script>
