<div>
    <div class="annotationPane">
        
        <span ng-show="!linearLayout">Annotations: {{annotations.length}}<br />Sort by:
                        <a ng-click="sortByFavorited()" ng-class="{pillSelected : sortingScheme == 'favorited'}">Favorited</a>
            <a ng-click="sortByRecent()" ng-class="{pillSelected : sortingScheme == 'recent'}">Recent</a>
        </span>
            <hr />
        <div ng-repeat="ann in annotations" style="padding: 2px">
            <div ng-mouseover="hover($index)" ng-click="expand($index)"
                ng-mouseenter="isMouseOver = true"
                ng-mouseleave="isMouseOver = false"
                ng-class="{highlight: isMouseOver}">
                <b>{{ann.TextAnchor}}</b><br />
                <div ng-show="!ann.Expanded">
                    {{ann.PreviewText}}<span ng-show="ann.PreviewText.length != ann.ContentNoHtml.length">...</span>
                </div>
                <div ng-show="ann.Expanded && !ann.EditMode" style="white-space: pre-wrap"><p
                    ng-bind-html="sanitize(ann.Content)"></p></div>
                <textarea ng-model="ann.Content"
                    ng-show="ann.Expanded && ann.EditMode" style="white-space: pre-wrap; width: 100%"
                    ng-click="editModeTextBoxClick($event)"></textarea>
                <div ng-show="ann.Expanded"><p>{{ann.DateString}}, by 
                        <a href="~/User/Index?user={{ann.Username}}"
                            ng-click="stopPropagation($event)"
                            style="color: #428bca;">{{ann.Username}}</a></p>
                    <p ng-show="!ann.EditMode">Tags: {{ann.Tags}}</p>
                    <p ng-show="!ann.EditMode">Source: {{ann.Source}}</p>
                    <input type="text"
                        style="width: 100%"
                        ng-model="ann.Tags"
                        ng-show="ann.EditMode"
                        style="white-space: pre-wrap" ng-click="editModeTextBoxClick($event)" />
                </div>
                <div ng-show="ann.Expanded">
                    <div ng-show="(ann.Username != undefined && ann.Username == '@User.Identity.Name') || @Roles.IsUserInRole("CanEdit").ToString().ToLower()" >
                        @if (Request.IsAuthenticated) {
                            <a ng-click="favorite({ev: $event, idx: $index})"
                                ng-show="ann.UserFavorited"
                                class="clicked">Favorited
                            </a>
                            <a ng-click="favorite({ev: $event, idx: $index})" ng-show="!ann.UserFavorited">Favorite
                            </a><span>({{ann.FavoriteCount}})</span>
                            <a>Report</a>
                            <a ng-show="!ann.EditMode"
                                ng-click="editAnnotation({ev: $event, idx: $index})">Edit</a>
                            <a ng-show="ann.EditMode"
                                ng-click="saveAnnotationEdit({ev: $event, idx: $index})">Save</a>
                            <a ng-click="deleteAnnotation({ev: $event, idx: $index})">Delete</a>
                            <a ng-click="seeComments({ev: $event, idx: $index})">Comments</a><span>({{ann.CommentCount}})</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>
<div class="contentBody">
    <p id="content" style="white-space: pre-wrap;" dir="auto">{{text}}</p>
</div>
