<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
    .isAnnotation {
        background-color:white;
        font-size:15px;
        padding:15px;
    }

    .contentBody {
        overflow: auto;
        position: absolute;
        top: 150px;
        left: 42%;
        right: 5%;
        bottom: 50px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 18px;
    }

    .contentLinear {
        overflow: auto;
        position: absolute;
        top: 216px;
        left: 5%;
        right: 5%;
        bottom: 50px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 18px;
    }

    .pillSelected {
        background-color:darkgray;
        border-radius:5px;
        color:black;
    }

    .clicked {
        background:yellow;
        color:black;
        border-radius:3px;
    }

    .searchBox {
        overflow: auto;
        position: absolute;
        top:148px;
        left: 10%;
        right: 60%;
        bottom: 50px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Arial;
        font-size: 16px;
    }

    #addAnnotationButton {
        background-color: #efeeef;

    }

    #addAnnotationDropDown {
        background-color: #efeeef;
        padding:10px;
        max-width:800px;
        min-width:250px;
        /*width:300px;
        max-width:1000px;*/
        /*width:250%;*/
        /*overflow-x:hidden;
        overflow-y:auto;
        position: absolute;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 15px;*/
    }

        #addAnnotationPane {
        /*width:250%;*/
        position: absolute;
        background-color:transparent;
        padding: 10px;
        /*background-color: #efeeef;*/
        font-family: Georgia;
        font-size: 15px;
        left:10%;
        top:210px;
        z-index:3;
    }

    .annotationPane {
     
           /*overflow: hidden;*/
        overflow-x:hidden;
        overflow-y:auto;
        position: absolute;
        top: 260px;
        left: 10%;
        right: 60%;
        bottom: 50px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 15px;
    }

    .border {
        border: 1px solid black;
    }

    .georgia {
        font-family: Georgia;
    }

    .highlight {
        background-color: darkgray;
    }

    .navLink {
        margin-top:-3px;
        margin-right:10px;
        margin-left:10px;
        color:#428bca;
        cursor:pointer;
    }

    #layoutOptions {
        position:absolute;
        left:45%;
        z-index:4;
    }
</style>

<html ng-app>
<body>
    <div ng-controller="TextViewCtrl" ng-cloak>
        <div style="text-align: center;" ng-show="isBaseText == true">
            <p class="georgia" style="font-size: 25px;white-space:nowrap">
                <i>{{title}}</i>, {{author}} <a data-toggle="modal" data-target="#myModal" 
                ng-show="uploader == '@User.Identity.Name' || @Roles.IsUserInRole("CanEdit").ToString().ToLower()" style="font-size:12px;cursor:pointer">edit</a>
            </p>
        </div>
        <div ng-show="prevText != undefined" ng-click="navigatePrevious()">
            <div style="float: left" class="glyphicon glyphicon-arrow-left"></div>
            <div style="float: left" class="navLink">Previous</div>
        </div>

        <div ng-show="nextText != undefined" ng-click="navigateNext()">
            <div style="float: right" class="glyphicon glyphicon-arrow-right"></div>
            <div style="float: right" class="navLink">Next</div>
        </div>
        <div id="layoutOptions">
            <a ng-class="{pillSelected : !linearLayout}" ng-click="setLayoutSideBySide()">Side by side</a>
            <a ng-class="{pillSelected : linearLayout}" ng-click="setLayoutLinear()">Linear</a>
        </div>
        <div class="searchBox">
            <span style="white-space: nowrap">Filter annotations and tags:</span>
            <input ng-model="annotationSearch" ng-change="annotationSearchUpdate()" style="font-size: 14px; width: 80%" />
            <span class="glyphicon glyphicon-remove" ng-click="clearAnnotationSearch()"></span>
        </div>
        <div ng-if="!linearLayout">
            @Html.Partial("_SideBySide")
        </div>
        <div ng-if="linearLayout">
            @Html.Partial("_Linear")
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.highlight-4.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/linq.js_ver2.2.0.2/jquery.linq.js"></script>
<script src="~/Scripts/linq.js_ver2.2.0.2/linq.js"></script>
<script src="~/Scripts/Controllers/TextViewController.js"></script>
