<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{
    ViewBag.Title = "Annotations";
}

<h2>Index</h2>


<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controllers/AnnotationsController.js"></script>
